/* Body */
body {
    background-color: hsl(0, 100%, 74%);
    padding: 5em;
    background-image: url(images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Main Container */
.main-container {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

/* Left Container */
.left-container {
    flex-basis: 60%;
    padding: 4em;
    margin-top: 50px;
}

.left-container h1 {
    font-size: 40px;
    line-height: 45px;
}

.left-container p {
    font-size: 16px;
    color: hsl(240, 16%, 96%);
    margin-top: -5px;
}

/* Right Container */
.right-container {
    flex-basis: 75%;
    justify-content: center;
    margin: -2% 20px 0px -10px;
    text-align: center;
}

.right-top {
    border: 1px solid hsl(248, 32%, 49%);
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 30px;
    background-color: hsl(248, 32%, 49%);
    font-size: 14px;
    box-shadow: 0 8px hsla(0, 36%, 50%, 0.357);
}

/* Form */
form {
    background-color: white;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 5px;
    box-shadow: 0 8px hsla(0, 36%, 50%, 0.357);
}

input {
    width: 80%;
    padding: 15px 20px;
    margin: 8px 0px;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    font-weight: 600;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=submit] {
    background-color: hsl(154, 59%, 51%);
    width: 90%;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 5px hsl(154, 57%, 39%);
}

form p {
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    text-align: center;
    padding-bottom: 10px;
}

form b, strong {
    color: hsl(0, 100%, 74%);
    cursor: pointer;
}

fieldset {
    border: none;
}

/* Tablet Screen Sizes */
@media only screen and (max-width: 992px) {

.main-container {
    display: block;
    width: 100%;
    padding-bottom: 4em;
    text-align: center;
    margin-top: -80px;
}

.right-container {
    margin: -2% 0px 0px 0px;
}
}

/* Mobile Screen Sizes */

@media only screen and (max-width: 600px) {

body {
    background-image: url(images/bg-intro-mobile.png);
    background-repeat: repeat-y;
    background-size: contain;
    padding: 0em 0em 3em 0em;
}

.main-container {
    display: block;
    margin-top: 2em;
    text-align: center;
    width: 100%;
}

.left-container {
    padding: 2em;
}
.left-container h1 {
    font-size: 24px;
    line-height: 30px;
    margin-top: -1em;
    margin-bottom: 1em;
}

.left-container p {
    margin-bottom: -10px;
}

.right-container {
    margin: 0em auto;
    width: 90%;
}

input[type=submit] {
    width: 93%;
}

form p {
    font-size: 13px;
}
}